/* FONT FACES */
/* GARAMOND */
@font-face {
  font-family: 'Garamond Bold';
  src: url("../fonts/garamond/EBGaramond-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Italic';
  src: url("../fonts/garamond/EBGaramond-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garamond Medium';
  src: url("../fonts/garamond/EBGaramond-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garamond Regular';
  src: url("../fonts/garamond/EBGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garamond SemiBold';
  src: url("../fonts/garamond/EBGaramond-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// ROBOTO

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

