/* FONT FACES */
/* GARAMOND */
@font-face {
  font-family: 'Garamond Bold';
  src: url("../fonts/garamond/EBGaramond-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond Italic';
  src: url("../fonts/garamond/EBGaramond-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garamond Medium';
  src: url("../fonts/garamond/EBGaramond-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garamond Regular';
  src: url("../fonts/garamond/EBGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garamond SemiBold';
  src: url("../fonts/garamond/EBGaramond-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// ROBOTO

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Roboto Slab */
@font-face {
  font-family: 'Roboto-Slab Bold';
  src: url('../fonts/roboto-slab/RobotoSlab-Bold-webfont.woff') format('woff'),
    url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Slab';
  src: url('../fonts/roboto-slab/RobotoSlab-Regular-webfont.woff') format('woff'),
    url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Slab Light';
  src: url('../fonts/roboto-slab/RobotoSlab-Light-webfont.woff') format('woff'),
    url("../fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Playfair Display */

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("../fonts/playfair-display/PlayfairDisplay-Bold.otf") format("opentype"),
    url("../fonts/playfair-display/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf") format("opentype"),
    url("../fonts/playfair-display/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplaySC-Bold';
  src: url("../fonts/playfair-display/PlayfairDisplaySC-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplaySC-Regular';
  src: url("../fonts/playfair-display/PlayfairDisplaySC-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
