.leftside_ {

  // Start Button
  &btn-start {
    margin-top: 2rem;
    margin-bottom: 1rem;

    span {
      img {
        position: relative;
        top: 5px;
        width: 25px;
        height: 20px;
      }

      &:nth-child(1) {
        background-color: $colorGreyFade;
        padding: 5px 25px;
        margin-right: 1em;
        border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -ms-border-radius: 5px 0 0 5px;
        -o-border-radius: 5px 0 0 5px;
        cursor: pointer;
      }

      &:nth-child(2) {
        background-color: $colorGreyFade;
        padding: 5px 10px;
        border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
        -o-border-radius: 0 5px 5px 0;
        cursor: pointer;
      }
    }

    &:hover span img {
      animation: translateLeft ease-in-out .5s;
    }

    &:hover {
      color: #226A8A;
    }
  }

  // Reset Button
  &btn-reset {
    span {
      img {
        position: relative;
        top: 8px;
        width: 25px;
        height: 25px;
        transition: transform 0.5s;
      }

      &:nth-child(1) {
        background-color: $colorGreyFade;
        padding: 5px 41px;
        margin-right: 1em;
        border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -ms-border-radius: 5px 0 0 5px;
        -o-border-radius: 5px 0 0 5px;
        cursor: pointer;

      }

      &:nth-child(2) {
        background-color: $colorGreyFade;
        width: 45px;
        padding: 5px 10px;
        border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
        -o-border-radius: 0 5px 5px 0;
        cursor: pointer;
      }
    }

    &:hover span img {
      transform: rotate(90deg);
    }

    &:hover {
      color: #226A8A;
    }
  }
}





#leftside {
  .logo {
    width: 220px;
  }

  .wrap-input {
    margin: 20px auto;

    .left_input {
      margin-top: 7px;
      color: $black;
      text-transform: capitalize;
    }

    label[for=pseudo] {
      color: $colorFade;
    }
  }

  .clock {
    @extend .input;
    width: 200px;
    padding: 10px;
    font-size: 1.7rem;
    color: $colorBlue;
    text-align: center;
    border: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }

  .leftside_content-btn {
    width: 220px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .rewards {
    width: 235px;
    margin-top: 3em;
    text-align: center;
    color: $colorFade;
  }

  .btn-tip {
    margin-top: 3em;
  }
}

.btn {
  @include flexCenterX;
  @include flexCenterY;
  margin-top: 1em;
  color: $colorRed;
  padding: 5px 7px;
  background-color: $white;
  cursor: pointer;
}

.input {
  @include flexCenterX;
  @include flexCenterY;
  margin-top: 1em;
  color: $colorRed;
  padding: 5px 7px;
  background-color: $white;
  border: none;
}

.content-btn {
  width: 220px;
  display: flex;
  margin-bottom: 1em;

  .start {
    @extend .btn;
    width: 150px;
    margin-right: 1em;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;

    &:hover {
      color: $colorBlue;
    }
  }

  .reset {
    @extend .btn;
    width: 45px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;

    &:hover {
      color: $colorBlue;
    }

    img {
      width: 100%;
    }
  }
}

/*Lucky */
.leftside_btn-tips {
  width: 220px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  #lucky {
    @extend .input;
    height: 45px;
    margin-right: 1em;
    padding: 5px 7px;
    border: 1px solid $colorGreyFade;
    border-radius: 5px;
  }

  #error {
    text-align: center;
    color: $colorFade;
    transform: scale(1.2);
  }

  img {
    width: 100%;
  }
}

.btn-submit {
  @extend .btn;
  @extend .input;
  height: 45px;
  border: 2px solid $colorRed;
  border-radius: 5px;
  margin: 0.8em auto;
  transition: all ease-out .5s;

  &:hover {
    color: $white;
    background-color: $colorBlue;
  }
}
