html {
  font-size: 16px;
  font-family: 'Roboto';
  height: 100vh;
}

%headingfontstyle {
  font-family: 'Garamond Medium';
  font-weight: 400;
  color: aliceblue;
}

h1 {
  @extend %headingfontstyle;
  font-size: 2rem;
}

h2 {
  @extend %headingfontstyle;
  font-size: 1.5rem;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
}

input {
  @extend %input;
  text-align: center;
  font-size: 1.2em;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#leftside {
  background-color: $colorBlue;
  @include flexCenterY;
  justify-content: space-evenly;
}

#center {
  @include flexCenterX;
  background-color: aliceblue;
}

#rightside {
  background-color: $colorRed;
  @include flexCenterY;
}

// Fade In
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.tooltip {
  padding: 10px;
  position: absolute;
  width: auto;
  white-space: nowrap;
  border-radius: 5px;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  transform-style: preserve-3d;
  z-index: 200;
  font-size: 0.9em;
  display: none;
  height: 10px;
  transform-origin: 50% 50%;
  left: 50%;
  z-index: 400;

  &__icon {
    color: $white;
  }
}

.btn-more {
  @extend .btn;
  width: 50px;
  height: 50px;
  border: 3px solid $colorBlue;
  border-radius: 50%;
  transition: all .5s;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $colorBlue;
  }

  &::after {
    content: "\FF0B";
    font-size: 35px;
    padding-bottom: .2em;
  }
}

@keyframes sweep {
  0% {
    left: 0;
    width: 0;
  }

  100% {
    width: 150px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// FadeOut
.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes translateLeft {
  0% {
    left: 0;
  }

  50% {
    left: 5px;
  }

  100% {
    left: 0;
  }
}
