/* RIGHT SIDE */
#rightside {
  .title_president {
    font-size: 1.4rem;
    font-family: 'Garamond';
    color: $colorFade;
    text-align: center;
    text-transform: capitalize;
  }

  .score {
    @extend %input;
    color: $colorBlue;
    text-align: center;
    font-size: 2em;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .indice {
    color: $grey;
    margin-top: 1em;
    width: 250px;
    font-size: 1.1rem;
    padding: 10px;
    background-color: $colorFade;
  }
}
